{% extends 'base.html.twig' %}

{% block title %}New Description{% endblock %}

{% block body %}
    <h1>Create new Description</h1>

    {{ include('gx/description/_form.html.twig') }}

    <a href="{{ path('gx_description_index') }}">back to list</a>
{% endblock %}
