{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/login.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-signin" method="post">

                    <h1 class="h3 mb-3 font-weight-normal text-center">Register for FitEvo MN</h1>

                    <label for="username" class="sr-only">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus />

                    <label for="password" class="sr-only">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>

                    <label for="firstname" class="sr-only">First Name:</label>
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" />

                    <label for="lastname" class="sr-only">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" />

                    <br>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
