{% extends 'base.html.twig' %}
{% block title %}
    FitEvoMN - Buffalo
{% endblock %}
{% block body %}
    <div class="fe-banner">
        <h1>This stuff rocks</h1>
    </div>
    {#<img src="{{ asset('build/static/banner_1.jpg') }}" width="100%">#}
{% endblock %}



