<header>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item fe-carousel-item active">
                {#<img id="banner1" class="d-block img-fluid mx-auto" src="{{ asset('build/static/test-banner-1.jpg') }}" alt="First Slide">#}
               <div id="banner1" class="fe-carousel-banner"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Group Fitness One</h3>
                    <p>Going to make you sweat like no other!</p>
                </div>
            </div>
            <div class="carousel-item fe-carousel-item">
                {#<img id="banner2" class="d-block img-fluid mx-auto" src="{{ asset('build/static/test-banner-2.jpg') }}" alt="Second Slide">#}
                <div id="banner2" class="fe-carousel-banner"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Group Fitness Two</h3>
                    <p>Dance, dance, dance... It's a revolution!</p>
                </div>
            </div>
            <div class="carousel-item fe-carousel-item">
                {#<img id="banner3" class="d-block img-fluid mx-auto" src="{{ asset('build/static/test-banner-3.jpg') }}" alt="Third Slide">#}
                <div id="banner3" class="fe-carousel-banner"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Group Fitness Three</h3>
                    <p>There's a party going on around here, a celebration to last throughout the year!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</header>
