<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                <a class="dropdown-item" href="#">Learn About Us</a>
                <a class="dropdown-item" href="#">Kids Club</a>
                <a class="dropdown-item" href="#">Affiliations</a>
                <a class="dropdown-item" href="#">Current Club Special</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="gxDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group Fitness</a>
            <div class="dropdown-menu" aria-labelledby="gxDropdown">
                <a class="dropdown-item" href="#">Class List</a>
                <a class="dropdown-item" href="#">Class Schedule</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Fitness Class Types</div>
                <a class="dropdown-item" href="#">Strength</a>
                <a class="dropdown-item" href="#">Mind &amp; Body</a>
                <a class="dropdown-item" href="#">Cardio</a>
                <a class="dropdown-item" href="#">Dance</a>
                <a class="dropdown-item" href="#">Indoor Cycling</a>
                <a class="dropdown-item" href="#">Active Older Adults</a>
                <a class="dropdown-item" href="#">Aquatics</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="seminarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seminars</a>
            <div class="dropdown-menu" aria-labelledby="seminarDropdown">
                <a class="dropdown-item" href="#">Freezer Meals</a>
                <a class="dropdown-item" href="#">Meal Prep 101</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="redZoneDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RedZone</a>
            <div class="dropdown-menu" aria-labelledby="redZoneDropdown">
                <a class="dropdown-item" href="#">RedZone</a>
                <a class="dropdown-item" href="#">Boxing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">MetCon</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="locationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
            <div class="dropdown-menu" aria-labelledby="locationDropdown">
                <a class="dropdown-item" href="{{ path('base_buffalo') }}">Buffalo</a>
                <a class="dropdown-item" href="{{ path('base_monticello') }}">Monticello</a>
                <a class="dropdown-item" href="{{ path('base_zimmerman') }}">Zimmerman</a>
            </div>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="{{ path('base_login') }}">Login/Register</a>
        </li>
    </ul>
</div>
