<li class="nav-item dropdown">
    <a class="nav-link fe-nav-link dropdown-toggle" href="#" id="gxDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Group Fitness
    </a>
    <div class="dropdown-menu" aria-labelledby="gxDropdown">
        <a class="dropdown-item fe-nav-link " href="{{ path('gx_scheduled_class_index') }}">Scheduling</a>
        <a class="dropdown-item fe-nav-link " href="{{ path('user_show_gx_instructors') }}">Instructors</a>
        <a class="dropdown-item fe-nav-link " href="{{ path('gx_gx_class_index') }}">Descriptions</a>
    </div>
</li>
