{% extends 'base.html.twig' %}

{% block title %}New GxClass{% endblock %}

{% block body %}
    <h1>Create new GxClass</h1>

    {{ include('gx/gx_class/_form.html.twig') }}

    <a href="{{ path('gx_gx_class_index') }}">back to list</a>
{% endblock %}
