<li class="nav-item dropdown">
    <a class="nav-link fe-nav-link  dropdown-toggle" href="#" id="locationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Locations
    </a>
    <div class="dropdown-menu" aria-labelledby="locationDropdown">
        <a class="dropdown-item fe-nav-link " href="{{ path('base_buffalo') }}">Buffalo</a>
        <a class="dropdown-item fe-nav-link " href="{{ path('base_monticello') }}">Monticello</a>
        <a class="dropdown-item fe-nav-link " href="{{ path('base_zimmerman') }}">Zimmerman</a>
    </div>
</li>
