<li class="nav-item dropdown">
    <a class="nav-link fe-nav-link dropdown-toggle" href="#" id="gxDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Group Fitness
    </a>
    <div class="dropdown-menu" aria-labelledby="gxDropdown">
        <a class="dropdown-item fe-nav-link " href="#">Scheduling</a>
        <a class="dropdown-item fe-nav-link " href="#">Instructors</a>
        <a class="dropdown-item fe-nav-link " href="{{ path('gx_description_index') }}">Descriptions</a>
    </div>
</li>
