<footer class="container">

    <div class="row">
        <div class="business-stuff col-sm-4 text-center">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <a class="fe-nav-link" href="{{ path('base_buffalo') }}">
                    <span itemprop="name" class="business-name">Buffalo</span>
                </a>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">101 14<sup>th</sup> Street NE</span><br/>
                    <span itemprop="addressLocality">Buffalo</span>,
                    <span itemprop="addressRegion">MN</span>
                </div>
                <span itemprop="telephone">763-682-4300</span>
            </div>
        </div>
        <div class="business-stuff col-sm-4 text-center">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <a class="fe-nav-link" href="{{ path('base_monticello') }}">
                    <span itemprop="name" class="business-name">Monticello</span>
                </a>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">133 Sandberg Road</span><br/>
                    <span itemprop="addressLocality">Monticello</span>,
                    <span itemprop="addressRegion">MN</span>
                </div>
                <span itemprop="telephone">763-295-3002</span>
            </div>
        </div>
        <div class="business-stuff col-sm-4 text-center">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <a class="fe-nav-link" href="{{ path('base_zimmerman') }}">
                    <span itemprop="name" class="business-name">Zimmerman</span>
                </a>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">26275 Fremont Drive</span><br/>
                    <span itemprop="addressLocality">Zimmerman</span>,
                    <span itemprop="addressRegion">MN</span>
                </div>
                <span itemprop="telephone">763-856-4200</span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h3 class="m-0 p-0 text-center">
                &copy; 2016<script>document.write(" - " + new Date().getFullYear())</script>, Fitness Evolution MN
            </h3>
        </div>
    </div>

</footer>
